* {
  font-family: 'Averia Gruesa Libre', helvetica, sans-serif;
  color: black;
  font-size: 30px;
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
}

.topnav a {
  display: inline;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

.topnav a:hover {
  background-color: steelblue;
  color: white;
}

.home {
  background-image: url("images/logo.jpg");
  background-size: cover;
  height: 180vh;
  padding-bottom: 20px;
}

body {
  background-color: whitesmoke;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

p {
  font-family: helvetica;
  font-size: 18px;
}

.stuff {
  display: inline;
  float: left;
  padding: 10px;
}

.stuff p {
  border: solid, black, 2px;
  display: inline-flex;
  text-align: left;
  padding: 5px;
  font-size: 18px;
  margin: 30px;
}

.about {
  width: 90%;
  float: left;
}

.about p {
  width: 90%;
  float: auto;
  display: inline;
  text-align: left;
  padding: 2px;
  font-size: 18px;
}
