*{
  font-family: 'Averia Gruesa Libre', helvetica, sans-serif;
  color: black;
  font-size: 30px;
  width: 100;
}


.head {
  background-image: url("images/logo.jpg");
  background-size: cover;
  height: 120vh;
}

body {
  background-color: oldlace;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

.topnav a {
    /*float: left;*/
    display: inline;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
}

.topnav a:hover {
    background-color: steelblue;
    color: white;
}

.topnav a.active {
    background-color: red;
    color: white;
}

table {
  border: solid black 1px;
}

tr {
  width: 60px;
  border: solid black 1px;
}

td {
  align-content: center;
  border: solid black 1px;
}

#tableHead {
  font: tahoma;
  font-weight: bold;
}

/*style background and individual store*/
